<!DOCTYPE html>
<html lang="kr">
<meta charset="UTF-8">
<head>
    <h1> Port Sea </h1><br>
</head>

<body>

    <input type="button" value="INSERT 예제" onclick="location.href='/test/insert'">
    <input type="button" value="SELECT 예제" onclick="location.href='/test/select'">
    <input type="button" value="UPDATE 예제" onclick="location.href='/test/update'">

    <br><br><br>
    <div>
    </div>
<iframe src="http://3.35.113.255:5601/goto/9d02d24cb994f3fec74087bddca15e80" height="600" width="800"></iframe>
    <br>

    <!-- Test : {{test.hits.hits[1]._source.항명}} -->

        <br>
    <!-- <table border="2">
        <tr>
            <td>bookid</td>
            <td>bookname</td>
        </tr>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{row._id}}</td>
                <td>{{row._source.선명}}</td>
            </tr>
            {% endfor %}
        </tbody> -->
    
    </table>

</body>
</html>
